<header>
    <div class="container-grid posicionamento-header">
        <a href="#"><img class="logo" src="assets/img/logo.png" alt="Logo do site E-Players"></a>
        <nav id="menu" class="menu">
            <a routerLink="/login">Área do jogador</a>
            <a href="#">Partidas</a>
            <a href="#">Colocações</a>
            <a href="#">Notícias</a>
        </nav>
        <!-- <a href="#" onclick="mostrarMenu()"><img class="barras" src="img/bars.svg" alt="Menu de barras"></a> -->
        <a href="#" id="barras"><img class="barras" src="assets/img/bars-solid.png" alt="Menu de barras"></a>
    </div>
</header>
