<footer>
    <div class="container-grid footer-mobile">
      <div class="links ">
        <h2>Links Úteis</h2>
        <ul>
            <li><a href="#">Regras</a></li>  
            <li><a href="#">Aviso de Privacidade</a></li>  
            <li><a href="#">Suporte</a></li>  
            <li><a href="#">Termos</a></li>  
            <li><a href="#">Contato</a></li>  
        </ul>
      </div>
      <div class="redes-logo">
      <div class="redes">
        <h2>Rede Sociais</h2>
        <a href="#"><img src="assets/img/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="assets/img/facebook.png" alt="Facebook"></a>
        <a href="#"><img src="assets/img/twitter.png" alt="Twitter"></a>
        <a href="#"><img src="assets/img/twitch.png" alt="Twitch"></a>
        <a href="#"><img src="assets/img/youtube.png" alt="YouTube"></a>
        <a href="#"><img src="assets/img/discord.png" alt="Discord"></a>
      </div>
      <div>
        <a href="#"><img class="logo-footer" src="assets/img/logo.png" alt="Logo TFTour"></a>
      </div>
      </div>
      <div class="patro-new ">
        <div class="patrocinadores">
          <h2>Patrocinadores</h2>
          <a href="#"><img src="assets/img/epic.png" alt="Epic"></a>
          <a href="#"><img src="assets/img/logitech.png" alt="Logitech"></a>
          <a href="#"><img src="assets/img/razer.png" alt="Razer"></a>
          <a href="#"><img src="assets/img/riot.png" alt="Riot"></a>
        </div>
        <div class="newsletter">
          <h2>Faça parte do nosso clã, assine nossa newsletter!</h2>
          <form action="">
            <input id="campo-email" type="email" placeholder="E-mail" required>
            <button onclick="enviarEmail()" class="botao-cadastrar">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </footer>